* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
    --color-subtitle: #000339;
    --color-background: #fffdfd;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/*=== COMMON ===*/
a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    max-width: calc(100% - 40px);
}

.btn {
    display: inline-block;
    min-width: 98px;
    color: #FFF;
    background: var(--primary-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 18px 16px;
    border-radius: 12px;
    /* padding: 11px 22px; */
    /* border-radius: 8px; */
}

/*=== HEADER ===*/
.header {
    position: relative;
    height: 100vh;
    background: var(--color-background);
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul li {
    margin: 0 14px;
}

.navbar ul a {
    padding: 8px 10px;
    color: #4F5361;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar ul a:hover {
    text-decoration: underline;
    opacity: 0.9;
}

.action-link {
    margin-left: auto;
}

.signup-btn {
    margin-left: 18px;
    padding: 13px 16px;
    border-radius: 8px;
}

.signin-btn {
    color: #0F1B4C;
    font-size: 1.5rem;
    font-weight: 500;
}

/*=== HERO ===*/
.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-background);
}

.hero-wrap .info {
    margin-top: 130px;
    width: 51%;
}

.hero-wrap .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.hero-wrap .title {
    margin-top: 9px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero-wrap .desc {
    margin-top: 32px;
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/*=== CLIENTS ===*/
.clients {
    margin-top: 80px;
    padding: 43px 0 64px;
}

.clients .rows {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7D8589;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .rows-desc {
    margin-top: 23px;
}

.img-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 97px;
}

/*=== GUIDES ===*/
.guides {
    margin-top: 41px;
    padding: 79px 0 79px;

}

.guides .sub-title {
    position: relative;
    color: var(--color-subtitle);
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--color-subtitle);
}

.guides .desc {
    width: 459px;

    /*
        Để tránh xuất hiện thanh cuộn 
        khi IE bị thu nhỏ
    */
    max-width: 100%;

    margin: 20px auto 0;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3B3C45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689FF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
}

.guide-item .link:hover {
    text-decoration: underline;
}

.guide-item .arrow {
    margin-left: 7px;
}

.guides-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guides-cta .btn {
    min-width: 170px;
    font-weight: 400;
}

/*=== FEATURED === */

.featured {
    background-color: #F5FAFE;
    margin-top: 41px;
    padding: 110px 0;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: var(--color-subtitle);
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    color: #5A6473;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.9;
    /* 187.5% */
}

.featured .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.7rem;
    font-weight: 600;
}

.featured .arrow {
    margin-left: 8px;
}

.featured .featured-list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .featured-item {
    flex: 1;
    border-radius: 12px;
    background-color: #ffffff;
    /*flex-grow: 1*/
}

.featured .featured-item .thumb {
    width: 100%;
    /* 100% lúc này bằng kích thước thẻ cha chứ nó */
    height: 227px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.featured .featured-item .body {
    padding: 17px 23px 24px;
}

.featured .featured-item .title a {
    color: var(--color-subtitle);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    /* 100% */
}

.featured .featured-item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
}

.featured .featured-item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .featured-item .icon {
    margin-left: 23px;
}

.featured .featured-item .icon:first-child {
    margin-left: 0;
}

.featured .featured-item .label {
    margin-left: 8px;
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.01em;
}

/*=== STATS ===*/
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats-trend {
    position: absolute;
    left: 0;
    top: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #FFF;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats-trend .value {
    color: var(--color-subtitle);
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.01em;
}

.stats-trend .icon {
    margin-left: auto;
    /*Vì thẻ cha (row) đã set display: flex 
    nên không cần set display: block */
}

.stats-trend .desc {
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats-trend .seperate {
    margin-top: 25px;
    height: 1.2px;
    background: #E9E9E9;
}

/*=== AVATAR BLOCK ===*/
.stats .avatar-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    margin-left: -5px;
    width: 16.337px;
    height: 16.337px;
    object-fit: cover;
    border-radius: 50%;
    background: var(--bg-color, #fff);
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .img-block .stats-img {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}


.stats .sub-title {
    position: relative;
    width: 269px;
    color: var(--color-subtitle);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.25;
}

.stats .sub-title:before {
    position: absolute;
    top: -10px;
    left: 0;
    content: '';
    display: block;
    width: 41px;
    height: 5px;
    color: var(--color-subtitle);
    border-radius: 12px;
    background: var(--color-subtitle);
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
}

/*=== QUANTITY ===*/
.row-qty {
    padding: 0 32px;
    margin-top: 110px;
    justify-content: space-between;
}

.row .qty {
    color: #000;
    font-size: 6.3rem;
    font-weight: 600;
    line-height: 1;
}

.row .qty-desc {
    margin-top: 22px;
    color: #7B8087;
    font-size: 1.7rem;
    font-weight: 500;
}

/*=== SUBSCRIPTION ===*/
.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background-color: #063183;
}

.subscription .info {
    padding: 110px 80px;
}

.subscription .sub-title {
    margin-bottom: 15px;
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.subscription .desc {
    margin-bottom: 20px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.subscribe-btn {
    padding: 18px 40px;
    background-color: #fff;
    color: var(--color-subtitle);
}